{% extends "layout.html" %}
{% block title %} Sys Admin {% endblock title %}
{% block content %}
    <form method="POST">
        <fieldset>
            <legend>Login</legend>
            Secret Code: <input type="text" name="secretCode">
            <button type="submit">Login</button>
        </fieldset>
    </form>
    
    <!--
        If correct secret code
    -->
    <form method="POST">
        <fieldset>
                Days Old: <input type="number" name="daysOldSchedule">
                <button type="submit">Delete</button>
        </fieldset>
    </form>

    <form method="POST">
        <fieldset>
            Hours: <input type="number" name="hoursCreatedSchedule">
            <button type="submit">Get List</button>
        </fieldset>
    </form>

    <!--
        Should return a list of schedules created in past N hours
    -->
{% endblock content %}