{% extends "layout.html" %}
{% block title %} Review Schedule {% endblock title %}
{% block content %}
    <button type="button">Share</button>
    <form method="POST">
        <fieldset>
            <legend>Extend Dates</legend>
            Start Date: <input type="date" name="startDate">
            End Date: <input type="date" name="endDate">
        </fieldset>
    </form>
    <button type="button">Toggle Availability</button>
    <button type="button">Cancel Meeting</button>
    <button type="button">Delete Schedule</button>
    <!--
        Need to add schedule view with weekly view
    -->
{% endblock content %}